.section {
  flex-direction: column;
  gap: 6rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

  width: 69rem;
  padding: 6.2rem 8rem 20rem;

  background-color: var(--white200);
  border: 4px solid var(--white300);
  border-radius: var(--borderRadius100);
  box-shadow: 0 4px 2rem var(--boxShadowColor90);
}

.title {
  position: relative;

  z-index: 2;

  &::before {
    position: absolute;
    content: "\2022\2002";
    right: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;

  width: 100%;
  z-index: 3;
}

.split {
  display: flex;
  gap: 4rem;
  > * {
    width: 100%;
  }
}

.inputBox {
  position: relative;

  input,
  textarea {
    color: var(--dark100);

    width: 100%;
    border-bottom: 3px solid var(--white400);
    border-radius: 4px;

    // When field contains a value
    &:not(:placeholder-shown) + .label {
      top: -2rem;
      font-size: var(--fontSize100);
    }
  }
}

.label {
  position: absolute;
  left: 0;
  top: 0;

  color: var(--dark200);
  transition: all 0.25s;
}

.submitBtn {
  align-self: center;

  padding: 1rem 2rem;
  background-color: var(--primaryColor90);
  border-radius: var(--borderRadius100);

  transition: all 0.25s;

  &:hover,
  &:focus {
    background-color: var(--primaryColor100);
    transform: scale(1.1);
  }

  &:disabled {
    opacity: 0;
  }
}

// .name {
// }

// .email {
// }

// .subject {
// }

// .message {
// }

.envelopeFront {
  position: absolute;
  bottom: -4rem;

  width: 110%;
  height: 100%;
}

.envelopeBack {
  position: absolute;
  bottom: -4rem;
  z-index: -1;

  width: 110%;
  height: 100%;
}

.imageBox {
  position: relative;
  height: 100%;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 69rem;

  a {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: var(--fontSize300);
    color: var(--dark100);
  }
}

.icon {
  position: relative;
  height: 3rem;
  width: 3rem;
}
