:root {
  // FONT SIZE
  --fontSize100: 1.6rem;
  --fontSize200: 1.8rem;
  --fontSize300: 2.2rem;

  // PRIMARY COLOR
  --primaryColor90: #91ffde;
  --primaryColor100: #00f5c9;
  --primaryColor200: #00baba;
  --primaryColor300: #0098a1;

  // WHITES
  --white100: #fff;
  --white200: #f6f7f9;
  --white300: #e7ecf4;
  --white400: #d8dff0;

  // DARKS
  --dark100: #17204b;
  --dark200: #5b6caa;
  --dark300: #8d9dc9;

  // BORDER RADIUS
  --borderRadius100: 1.4rem;

  // BOX SHADOW
  --boxShadowColor90: rgba(0, 28, 177, 0.05);
  --boxShadowColor100: rgba(0, 28, 177, 0.07);
  --boxShadowColor200: rgba(0, 28, 177, 0.1);

  // MAX WIDTH
  --maxWidth100: 110rem;

  // PAGE PADDING
  --pagePadding100: 4rem;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: "Outfit", sans-serif;
  font-size: var(--fontSize200);
}

p {
  font-family: inherit;
  font-size: var(--fontSize200);
  line-height: 1.5;
  color: var(--dark300);

  span {
    font-weight: 600;
    color: var(--dark200);
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "Yeseva One", sans-serif;
  color: var(--dark100);
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: var(--primaryColor200);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 12rem var(--pagePadding100);
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: var(--dark100);
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

input,
textarea {
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font: inherit;
  resize: none;
}

::selection {
  background-color: var(--primaryColor100);
  color: #000;
  text-shadow: none;
}

.debugMe {
  border: 1px solid orange;
}
