.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--maxWidth100);

  z-index: 100;
  transition: all 0.5s;
}

.navHide {
  transform: translate(-50%, -100%);
}

.logo {
  align-self: flex-start;
  position: relative;
  height: 6rem;
  width: 7.5rem;

  transition: all 0.5s 0.5s;
}

.logoHide {
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}

.btnsBox {
  display: flex;
  gap: 8rem;

  color: var(--primaryColor300);

  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.2rem 3.8rem;
  border-radius: 0 0 2.7rem 2.7rem;
  box-shadow: 0 4px 2rem var(--boxShadowColor200);

  backdrop-filter: blur(5px);
  transition: all 0.2s;

  > * {
    color: inherit;
  }
}

.btnsBoxInitial {
  transition: all 0.5s;
  background-color: transparent;
  padding: 2.4rem 3.8rem 1.2rem;
  box-shadow: 0 4px 2rem transparent;
}

.link {
}

.resume {
  color: var(--dark100);

  padding: 1rem 1.5rem;
  background-color: var(--primaryColor100);
  border-radius: 4px;
}
