.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--maxWidth100);

  z-index: 100;
  transition: all 0.2s;
}

.navHide {
  transform: translate(-50%, -100%);
}

.logo {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 7.5rem;
  width: 7.5rem;

  transition: all 0.5s 0.5s;

  @media only screen and (max-width: 70.75em) {
    margin-left: 4rem;
  }

  @media only screen and (max-width: 48em) {
    margin-top: 1rem;
  }
}

.logoHide {
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}

.logoFade {
  transform: translateX(-13rem);
  transition: all 0.5s 0s;
}

.btnsBox {
  align-self: flex-start;

  display: flex;
  gap: 8rem;

  color: var(--primaryColor300);

  background-color: var(--navWhite);
  padding: 1.2rem 3.8rem;
  border-radius: 0 0 2.7rem 2.7rem;
  box-shadow: 0 4px 2rem var(--boxShadowColor200);
  margin-right: 2rem;

  backdrop-filter: blur(5px);
  transition: all 0.2s;

  > * {
    color: inherit;
  }

  @media only screen and (max-width: 48em) {
    display: none;
    visibility: hidden;
  }
}

.btnsBoxInitial {
  transition: all 0.5s;
  background-color: transparent;
  padding: 2.4rem 3.8rem 1.2rem;
  box-shadow: 0 4px 2rem transparent;
}

.link {
  padding: 1rem 0;
  @media (hover: hover) {
    transition: all 0.25s;

    &:hover {
      transform: translateY(-2px);
      color: var(--dark100);
    }
  }

  &:active {
    transform: translateY(2px);
  }
}

.resume {
  color: var(--dark100);

  padding: 1rem 1.5rem;
  background-color: var(--primaryColor100);
  border-radius: 4px;

  @media (hover: hover) {
    transition: all 0.25s;

    &:hover {
      transform: translateY(-4px);
    }
  }

  &:active {
    transform: translateY(2px);
  }
}

// NAV FOR MOBILE
.overlay {
  @media only screen and (max-width: 48em) {
    display: flex;
    visibility: visible;
  }
  visibility: hidden;
  display: none;

  position: fixed;
  z-index: 80;

  height: 100vh;
  width: 100vw;

  background-color: #0009;

  transition: all 0.5s 0.15s;
}

.overlayHidden {
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s 0.25s;
}

.hamburger {
  @media only screen and (max-width: 48em) {
    display: flex;
    visibility: visible;
  }

  display: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;

  height: 6rem;
  width: 6rem;

  margin: 1rem 2rem 0 0;
  background-color: var(--white100);
  border-radius: 100%;
  box-shadow: 0 4px 2rem var(--boxShadowColor200);

  cursor: pointer;

  @mixin pseudoLine {
    content: "";
    position: absolute;
    right: 0;

    height: 100%;
    width: 100%;

    background-color: inherit;
    border-radius: inherit;

    transition: inherit;
  }

  .line {
    position: relative;

    height: 4px;
    width: 50%;

    background-color: var(--dark300);
    border-radius: 8rem;

    transition: all 0.6s;

    &::before {
      @include pseudoLine;
      top: -1rem;
    }

    &::after {
      @include pseudoLine;
      top: 1rem;
    }
  }

  .lineActive {
    transform: rotate(360deg);

    background-color: var(--dark300);

    &::before {
      @include pseudoLine;

      top: -1rem;
      right: -4px;
      transform: rotate(45deg);
      transform-origin: 6px center;
      width: 70%;
    }

    &::after {
      @include pseudoLine;

      top: 1rem;
      right: -4px;
      transform: rotate(-45deg);
      transform-origin: 6px center;
      width: 70%;
    }
  }
}

.navPage {
  @media only screen and (max-width: 48em) {
    display: flex;
    visibility: visible;
  }

  visibility: hidden;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  position: fixed;
  right: 0;
  top: 0;
  z-index: 90;

  height: 100vh;
  width: 80vw;
  background-color: var(--primaryColor100);

  transition: all 0.75s 0.2s;

  .pageLink,
  .pageResume {
    color: var(--dark100);
    font-size: var(--fontSize300);
    font-weight: 600;

    cursor: pointer;
  }

  .pageResume {
    color: var(--dark200);

    padding: 1.2rem 2.4rem;
    background-color: var(--white100);
    border-radius: var(--borderRadius100);
    box-shadow: 0 4px 2rem var(--boxShadowColor200);
  }
}

.navPageHide {
  right: -80vw;

  transition: all 0.75s 0s;
}
