.section {
  flex-direction: column;
  gap: 20rem;

  background-color: var(--white200);

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4.4rem;

    h2 {
      position: relative;
      &::before {
        position: absolute;
        content: "\2022\2002";
        right: 100%;
      }
    }
  }

  @media only screen and (max-width: 53.12em) {
    gap: clamp(7rem, 10vw, 10vw);

    .header {
      margin-bottom: 4vw;
    }
  }
}

.projectBox {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;

  max-width: var(--maxWidth100);

  .textBox {
    grid-column: 1/6;
    grid-row: 1/1;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    // For making the description center align with the thumbnail
    padding-top: 10%;

    .title {
      font-size: 2.8rem;
      font-family: "Outfit", sans-serif;
      font-weight: 600;
    }

    .description {
      font-size: var(--fontSize200);
      width: 100%;
      max-width: 45ch;

      padding: 2rem 2.8rem;
      background-color: var(--white100);
      border-radius: var(--borderRadius100);
      box-shadow: 0 4px 2rem var(--boxShadowColor100);
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      row-gap: 0.6rem;

      font-size: var(--fontSize100);
      color: var(--dark200);
      max-width: 75%;

      li {
        white-space: nowrap;
      }
    }

    .btnsBox {
      display: flex;
      gap: 1rem;
    }

    .btn {
      position: relative;
      height: 3.8rem;
      width: 3.8rem;

      @media (hover: hover) {
        &,
        &::before,
        img {
          transition: all 0.25s;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          height: 75%;
          width: 75%;
          opacity: 0;
          background-color: var(--dark200);
          border-radius: 100%;
        }

        &:hover {
          img {
            filter: brightness(200%);
          }

          &::before {
            position: absolute;

            height: 130%;
            width: 130%;

            opacity: 1;
          }
        }

        &:active {
          transform: translateY(4px);
        }
      }
    }
  }

  .thumbnail {
    position: relative;
    grid-column: 5/-1;
    grid-row: 1/1;

    padding-bottom: 62.25%;
    box-shadow: 0 4px 2rem var(--boxShadowColor200);
    border-radius: var(--borderRadius100);

    overflow: hidden;

    &BlackJax {
      position: relative;
      background-image: linear-gradient(185deg, rgba(0, 0, 0, 0.9), #0f091ae2),
        url("../public/images/polyBg.svg");
      background-attachment: fixed;
      background-size: cover;

      .title {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 8.8rem;
        letter-spacing: 0px;

        height: 100%;
        width: 100%;
      }
    }

    &InternetFlicks {
      background-color: #7f5f8d;
      img {
        transition: all 0.5s;
      }
    }

    &JDR {
      background-color: #f81141;
      img {
        transition: all 0.5s;
      }
    }
  }
}

// REVERSED PROJECTBOX
.projectBox:nth-child(2n + 1) {
  .textBox {
    grid-column: 6/-1;

    align-items: flex-end;

    .description {
      text-align: end;
    }

    .tags {
      justify-content: flex-end;
    }
  }

  .thumbnail {
    grid-column: 1/7;
  }
}

// MOBILE ___________
@media only screen and (max-width: 53.12em) {
  .projectBox {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: flex-start;
    row-gap: 2rem;
    width: 100%;

    @media only screen and (max-width: 41.25em) {
      grid-template-rows: repeat(2, auto);
    }

    .textBox {
      grid-column: 1/9;
      grid-row: 2/3;

      padding-top: 0;

      @media only screen and (max-width: 37em) {
        grid-column: 1/-1;
      }

      .tags {
        max-width: 90%;
      }
    }

    .thumbnail {
      grid-column: 1/10;
      grid-row: 1/2;

      min-height: 22rem;

      @media only screen and (max-width: 37em) {
        grid-column: 1/-1;
      }

      &BlackJax .title {
        font-size: 13vw;
      }
    }
  }

  .projectBox:nth-child(2n + 1) {
    .textBox {
      grid-column: -9/-1;

      .description {
        text-align: end;
      }

      .tags {
        justify-content: flex-end;
      }
      @media only screen and (max-width: 37em) {
        grid-column: 1/-1;
        align-items: flex-start;

        .title {
          text-align: start;
        }

        .description {
          text-align: start;
        }

        .tags {
          justify-content: flex-start;
        }
      }
    }

    .thumbnail {
      grid-column: -10/-1;
      @media only screen and (max-width: 37em) {
        grid-column: 1/-1;
      }
    }
  }
}
